body {
}
h1{
  text-align:center;
  color:blue;
  font-weight:800;
}
#mainText{
    text-align:end;
    color:red;
    font-weight:bolder;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:medium;
     
}
